      body,
      html {
        height: 100%;
        margin: 0;
      }

      .lookingForSignal,
      .noSignalFound,
      .signalFound {
        height: 100%;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }

      .noSignalFound {
        background-image: url("/img/noSignalFound.jpg");
      }

      .lookingForSignal {
        background-image: url("/img/lookingForSignal.jpg");
      }

      .signalFound {
        background-image: url("/img/signalFound.jpg");
      }

      #map {
        height: 100vh;
      }